@import "styles/common";

.toggleBtn {
  position: relative;
  width: 3rem;
  height: 25px;
  border-radius: 36px;
  background: #ed80fd20;
  border: 1px solid #45486833;
  cursor: pointer;

  .btn {
    position: absolute;
    top: 1.5px;
    left: 2px;
    @include setSquare(20px);
    border-radius: 10px;
    background: #ed80fd;
    transition: all 0.25s;
  }
}

.active .btn {
  left: 24px;
}
