@import "styles/common";

.priceCard {
  @extend .flexColCen;
  justify-content: space-between;
  min-width: 370px;
  max-width: 380px;
  height: 750px;
  padding: 2.7rem 2rem;
  border: 2px dashed transparent;
  background: #fff;
  border-radius: 40px;
  box-shadow: 0px 10px 50px 0px #ee9ae526;

  .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
  }

  .desc {
    text-align: center;
    font-size: 18px;
    line-height: 130%;
  }

  .price {
    @extend .alignEnd;
    gap: 10px;

    .amount {
      color: #ed80fd;
      font-size: 2rem;
      font-weight: 700;
      line-height: 120%;
    }

    .variant {
      text-align: center;
      font-size: 18px;
      line-height: 140%;
      padding-bottom: 5px;
    }
  }

  .features {
    list-style: none;
    @extend .flexCol;
    gap: 1rem;
    margin-top: 4.5rem;

    li {
      @extend .alignCen;
      gap: 1.2rem;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
  }

  &:hover {
    border-color: #ed80fd;
  }
}

.darkPriceCard {
  background: #2a2d47;
  box-shadow: 0px 10px 50px 0px rgba(238, 154, 229, 0.15);

  .price .variant {
    color: #f1f2f5;
  }

  .features li {
    color: #f1f1f1;
  }
}
