@import "styles/common";

.darkMain {
  background: #16161a;
  color: #fff;

  p {
    color: #f1f2f5;
  }
}

.section {
  @extend .flexColCen;
  width: 100%;
  gap: 2rem;
  background: #ed80fd0d;
}

@media screen and (max-width: 800px) {
  .section {
    gap: 3rem;
  }
}
