@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");
@import "styles/common";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
}

body {
  color: #000;
  background: #f1f1f1;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  main {
    min-height: 100vh;
    @extend .flexColCen;
    position: relative;
    gap: 140px;
    padding-top: 7rem;
    color: #010851;
    background: #fff;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
